<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.responsive.min.css' />
	<script src="/javascripts/moment.min.js" ></script>
	<script src="/javascripts/jquery-1.9.1.min.js" ></script>
	<script src="/javascripts/bootstrap.js" ></script>
	<script src="/javascripts/weekendsleft.js" ></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ce04d37d-2031-45e7-beec-ffa31a36ccf1", doNotHash: true, doNotCopy: true, hashAddressBar: true});</script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39152319-1']);
  _gaq.push(['_setDomainName', 'weekendsleft.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
		<div class="text-row top-text-row">
			<div class="left-hr-spacer">
				<img src="./images/brownline.png" alt="-">
			</div>
			<div class="text-spacer">
				How many
			</div>
			<div class="right-hr-spacer">
				<img src="./images/brownline.png" alt="-">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="text-row">
			<div class="wide-text-spacer">
				<img src="./images/1weekendsleft.png" alt="Weekends Left">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="text-row bottom-text-row">
			<div class="left-hr-spacer">
				<img src="./images/brownline.png" alt="-">
			</div>
			<div class="text-spacer">
				this year
			</div>
			<div class="right-hr-spacer">
				<img src="./images/brownline.png" alt="-">				
			</div>
			<div class="clearfix"></div>
		</div>

    	<div class="daysleft">
    		??
    	</div>

    	<div class="itstheweekend hide">
			<div class="pushedleftplus">
				+
			</div>
			<div class="timeleft">
				<span class="boldnumbers" id="hoursleft"></span><br/>
				remaining<br/>
				of this weekend
			</div>
		</div>

    	<div class="chooseyourfate">
			<div id="spendbutton" class="btn fatebutton">
				Spend wisely
			</div>
			<div id="squanderbutton"  class="btn fatebutton">
				Squander
			</div>
    	</div>
		<img class="backgroundimage" src="./images/glow.png">
		<div class="sharebuttons">
			<span class='st_twitter_hcount sharebutton' displayText='Tweet'></span>
			<span class='st_facebook_hcount sharebutton' displayText='Facebook'></span>
		</div>
		<div class="projectby">
			a weekend project by <a href="http://commonv.com"><img class="commonlogo" src="./images/commonlogo.png" alt="common ventures"></a> together with <a href="http://rkroon.net"><img alt="rkroon.net" class="rlogo" src="./images/rlogo.png"></a>
		</div>
  </body>
</html>