<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.responsive.min.css' />
  </head>
  <body>
  	<div class="container">
  		<img class="backgroundimage" src="./images/glow.png">
  	</div>
  	<div class="container">
		<div class="text-row top-text-row">
			<div class="left-hr-spacer">
				<img src="./images/brownline.png" alt="-">
			</div>
			<div class="text-spacer">
				How many
			</div>
			<div class="right-hr-spacer">
				<img src="./images/brownline.png" alt="-">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="text-row">
			<div class="wide-text-spacer">
				<img src="./images/weekendsleft.png" alt="-">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="text-row bottom-text-row">
			<div class="left-hr-spacer">
				<img src="./images/brownline.png" alt="-">
			</div>
			<div class="text-spacer">
				this year
			</div>
			<div class="right-hr-spacer">
				<img src="./images/brownline.png" alt="-">				
			</div>
			<div class="clearfix"></div>
		</div>
    </div>
    <div class="container">
    	<div class="daysleft">
    		43
    	</div>
    </div>
    <div class="container">
    	<div class="itstheweekend">
			<div class="pushedleftplus">
				+
			</div>
			<div class="timeleft">
				<span class="boldnumbers">36</span><span class="smallcaps">HRS</span>&nbsp;<span class="boldnumbers">28</span><span class="smallcaps">MINS</span><br/>
				remaining<br/>
				of this weekend
			</div>
		</div>
    </div>
    <div class="container">
    	<div class="chooseyourfate">
			<div class="btn fatebutton">
				Spend wisely
			</div>
			<div class="btn fatebutton">
				Squander
			</div>
    	</div>
    </div>
    <div class="container">
    	<div class="projectby">
			a weekend project by <img class="commonlogo" src="./images/commonlogo.png"> together with <img class="rlogo" src="./images/rlogo.png">
    	</div>
    </div>
  </body>
</html>